{{#partial "content"}}
    <div class="form">
        <form action="/create/departmentNews/new" method="post">
            <h3 class="text bgt">you are an user, register yourself</h3>

            <div class="form-group">
                <label for="name">Title</label>
                <input type="text" class="form-control" name="tittle"  required>
            </div>
            <div class="form-group">
                <label for="name">Written By</label>
                <input type="text" class="form-control" name="writtenby"  required>
            </div>
            <div class="form-group">
                <label for="name">Content</label>
                <input type="text" class="form-control" name="content"  required>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="department">Department</label>
                    </div>
                    <select class="custom-select" name="users">
                        <option selected>Choose...</option>
                        {{#if users}}

                            {{#each users as |l|}}
                                <option name="department" value={{l.id}}>{{l.name}}</option>
                            {{/each}}
                        {{/if}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="department">Department</label>
                    </div>
                    <select class="custom-select" name="department">
                        <option selected>Choose...</option>
                        {{#if departments}}

                            {{#each departments as |l|}}
                                <option name="department" value={{l.id}}>{{l.name}}</option>
                            {{/each}}
                        {{/if}}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-info "> Register </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{{/partial}}

{{> layout.hbs}}